.kepper-app {
  padding: 10px;
}
.kepper-app ul {
  padding: 0;
}

.dynamic-cmp {
  flex-wrap: wrap;
}

.kepper-app ul li {
  margin: 0 10px 0 0;
}
.btn-keep {
  min-width: 50px;
}

.dynamic-cmp-item {
  background-color: whitesmoke;
  box-shadow: 0 0 6px black;
  padding: 10px;
  margin: 5px;
  transition: all 0.3s;
  cursor: pointer;
}
div .dynamic-cmp-item:hover {
  transform: scale(1.1);
}

/* txt */
.preview-note-txt {
  min-width: 150px;
  margin: 0 0 10px 0;
}

.note-txt-item {
  margin: 0 0 10px;
  padding: 10px;
  border: none;
}

/* img */
.note-img {
  padding: 10px;
  background-color: whitesmoke;
  box-shadow: 0 0 9px black;
}
.preview-note-img img,
.note-img img {
  width: 150px;
}

.note-img-item {
  margin: 0 0 10px;
}
/* todos */

.note-todo {
  margin: 0 0 10px 0;
}
